{:lib      io.github.hive-agi/hive-build
 :license  {:name "MIT" :url "https://opensource.org/licenses/MIT"}
 :scm-url  "https://github.com/hive-agi/hive-build"
 :src-dirs ["src"]
 :publish  :clojars}
